{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class='scroll ps-1'>
            {%- for child in form %}
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded -%}
