.noUi-target {
    height: 10px;
    background-color: $gray-300;

    .noUi-connects {
        .noUi-connect {
            background-color: $blue;
        }
    }

    .noUi-handle {
        width: 20px;
        height: 20px;
        border-radius: 10px;

        &:before, &:after {
            display: none;
        }
    }
}
